.ticket {
  width: 500px;
  height: 184px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  .header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .price {
      display: inline-block;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      color: #2196f3;
    }
  }
  .table-desk {
    width: 100%;
    margin-top: 20px;
    .table-header {
      text-align: left;
      font-family: Open Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0.5px;
      color: #a0b0b9;
    }
    .table-data {
      text-align: left;
      font-family: Open Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0px;
      color: #4a4a4a;
    }
  }
}
